@import "../../../index.scss";

.searchbar {
  width: 100%;
  height: 100px;
  background: rgba(51, 51, 51, 0.5);
  position: absolute;
  top: 0.7%;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    font-weight: bold;
    font-size: clamp(0.6rem, 2vw, 2rem);
    width: 65%;
    padding: 1%;
    border-radius: 10px;
    border: none;
    transition: var(--main-transition);
    &:focus {
      width: 80%;
    }
  }
}
