@import "../../../index.scss";

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--primary);
  flex-wrap: wrap;
  padding: 4%;
  font-size: clamp(0.8rem, 2vw, 1.6rem);
  div {
    padding: 1%;
  }
  div:first-child {
    p {
      padding: 1%;
    }
  }
  div:last-child {
    p {
      padding: 1%;
    }
  }
}
